streamlit==1.46.1
python-dotenv==1.1.1
PyPDF2==3.0.1

# Google Generative AI & Auth
google-generativeai==0.8.5
google-api-core==2.25.1
google-api-python-client==2.176.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-ai-generativelanguage==0.6.15
httplib2==0.22.0

# Langchain & related
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.68
langchain-google-genai==2.0.10
langchain-text-splitters==0.3.8
langsmith==0.4.5

# Embeddings & Vector DB
faiss-cpu==1.7.4
pandas==2.3.1
numpy==2.3.1

# Extras
pydantic==2.11.7
pydantic-core==2.33.2
pydantic-settings==2.10.1
protobuf==5.29.5
orjson==3.10.18
requests==2.32.4
typing-extensions==4.14.1
tqdm==4.67.1
watchdog==6.0.0
pyyaml==6.0.2
